<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">

{{/* Enhanced Title */}}
<title>{{- if .IsHome }}{{ site.Title }}{{- else }}{{ .Title }} | {{ site.Title }}{{- end -}}</title>

{{/* Enhanced Meta Description */}}
<meta name="description" content="{{- with .Description }}{{ . }}{{- else }}{{- if or .IsPage .IsSection }}{{ .Summary }}{{- else }}{{ with site.Params.description }}{{ . }}{{- end }}{{- end }}{{- end -}}">

{{/* Enhanced Keywords */}}
<meta name="keywords" content="{{- if .Keywords }}{{ delimit .Keywords ", " }}{{- else }}{{ with site.Params.keywords }}{{ delimit . ", " }}{{- end }}{{- end }}">

{{/* Author */}}
<meta name="author" content="{{ site.Params.author | default site.Title }}">>>

{{/* Canonical URL */}}
<link rel="canonical" href="{{ .Permalink }}">

{{/* Favicon */}}
<link rel="icon" href="{{ site.Params.assets.favicon | default "/favicon.ico" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.Params.assets.favicon16x16 | default "/favicon-16x16.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.Params.assets.favicon32x32 | default "/favicon-32x32.png" | relURL }}">
<link rel="apple-touch-icon" href="{{ site.Params.assets.apple_touch_icon | default "/apple-touch-icon.png" | relURL }}">
<link rel="mask-icon" href="{{ site.Params.assets.safari_pinned_tab | default "/safari-pinned-tab.svg" | relURL }}">

{{/* Theme Color */}}
<meta name="theme-color" content="{{ site.Params.assets.theme_color | default "#2e2e33" }}">
<meta name="msapplication-TileColor" content="{{ site.Params.assets.msapplication_TileColor | default "#2e2e33" }}">

{{/* RSS */}}
<link rel="alternate" type="application/rss+xml" href="{{ "index.xml" | relURL }}" title="{{ site.Title }}">

{{/* Preload Critical Resources */}}
<link rel="preload" href="{{ site.Params.assets.disableFingerprinting | default "/css/main.css" | relURL }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//fonts.gstatic.com">

{{/* Web Manifest */}}
<link rel="manifest" href="{{ "/site.webmanifest" | relURL }}">

{{/* Open Graph and Twitter Card - Enhanced */}}
{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}

{{/* JSON-LD Structured Data */}}
{{- partial "seo.html" . -}}

{{/* Google Analytics */}}
{{- template "_internal/google_analytics.html" . -}}

{{/* Custom Head Extensions */}}
{{- if templates.Exists "partials/extend_head.html" -}}
{{- partial "extend_head.html" . -}}
{{- end -}}

{{/* Performance Optimizations */}}
<script>
// Service Worker Registration
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/sw.js').catch(() => {});
}
</script>