{{- define "main" }}
<div class="home-info">
    <h1>{{ site.Title }}</h1>
    <p>{{ site.Params.description }}</p>
</div>

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- if $pages }}
<header class="page-header">
    <h2>Recent Posts</h2>
</header>

<div class="post-entries">
    {{- range first 5 $pages }}
    <article class="post-entry">
        <header class="entry-header">
            <h3><a href="{{ .Permalink }}" aria-label="post link to {{ .Title | plainify }}">{{ .Title }}</a></h3>
        </header>
        {{- if .Params.cover.image }}
        <figure class="entry-cover">
            <img src="{{ .Params.cover.image }}" alt="{{ .Params.cover.alt | default .Title }}" loading="lazy">
        </figure>
        {{- end }}
        <div class="entry-content">
            <p>{{ .Summary | truncate 250 "..." | plainify }}</p>
        </div>
        <footer class="entry-footer">
            <time>{{ .Date.Format "January 2, 2006" }}</time>
            {{- with .Params.categories }}
            <span>&middot;</span>
            <div class="categories">
                {{- range . }}
                <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                {{- end }}
            </div>
            {{- end }}
        </footer>
    </article>
    {{- end }}
</div>

{{- if gt (len $pages) 5 }}
<footer class="page-footer">
    <nav class="pagination">
        <a class="next" href="{{ "posts" | relLangURL }}">View All Posts →</a>
    </nav>
</footer>
{{- end }}
{{- end }}
{{- end }}